/* div{
    border-top: 1px solid red;
} */
/* header */

/* navbar */

.navbar img{
    width: 150px;
}

.navbar .yellow-btn{
    font-weight: 600;
    outline:none!important;
    border: none;
    background-color:#FFC729;
    border-radius:2px;
    font-weight: 600px;
    padding:3px 15px 3px 15px;
}

.yellow-btn{
    font-weight: 600;
    outline:none!important;
    border: none;
    background-color:#FFC729;
    border-radius:2px;
    font-weight: 600px;
    padding:10px 15px 10px 15px;
}

.yellow-btn img{
    width: 15px;
    height: 20px;
}

.nav-item a{
    margin-bottom: 10px;
    cursor: pointer;
}
.single-line a{
    margin-right: 20px;
}

.red-dot{
    position:absolute;
    border: 1px solid red;
    border-radius:100%;
    width:10px;
    height: 10px;
    background-color:red;
    top: 10%;
    right: 10%;
}

.cart-show{
    position: relative;
}

/* main */

/* introduction */

.introduction{
    height: 300px;
    background-color:#FFF9EA;
}

.intro{
    position: relative;
}

.intro-info{
    padding-top: 80px;
}

.header-image img{
    width: 100%;
    transform:scaleX(-1);
}

.header-image{
    top: 10%;
    left: 55%;
    position: absolute;
    width: 300px;
    height: 450px;
    transform: rotate(20deg);
}

.red-btn{
    background-color:#EB5757;
    outline:none!important;
    border: none;
    border-radius:3px;
    font-weight: 600px;
    padding:10px 15px 10px 15px;
    
}

.navbar-nav li{
    margin-right: 30px;
}

@media only screen and (max-width:575px){
    .header-image{
        top: 85%;
        right: 0%!important;
        position: absolute;
        height: 100px;
        width: 100px;
        transform: rotate(20deg);
    }
    .header-image img{
        width: 100%;
    }
    .intro-info{
        padding-top: 20px;
    }
    .navbar-brand img{
        width: 100px;
    }
    .red-dot{
        position:absolute;
        border: 1px solid red;
        border-radius:100%;
        width:10px;
        height: 10px;
        background-color:red;
        top: 10%;
        left: 35px;
    }
}

@media only screen and (min-width: 576px) and (max-width:767px){
    .header-image{
        top: 45%;
        right: 0%;
        position: absolute;
        height: 300px;
        width: 200px;
        transform: rotate(20deg);
    }
    .intro-info{
        padding-top: 30px;
    }
    .red-dot{
        position:absolute;
        border: 1px solid red;
        border-radius:100%;
        width:10px;
        height: 10px;
        background-color:red;
        top: 10%;
        left: 35px;
    }
}

/* category */

.cat-info{
    padding:10px;
    background-color:rgba(236, 229, 229, 0.685);
    margin:auto;
}

.cat-info img{
    width: 80px;
    height: 80px;
}

.category{
    margin-top: 20px;
}

@media only screen and (max-width:575px){
    #small-hide{
        /* display: none; */
    }
    .cat-info{
        padding:3px;
        background-color:rgba(236, 229, 229, 0.685);
        margin:auto;
    }
    
    .cat-info img{
        width: 40px;
        height: 40px;
    }
    .category{
        margin-top: 0px;
    }
    .cat-info small{
        font-size:10px;
    }
    .range{
        box-shadow: 0px 15px 45px rgba(171, 171, 171, 0.25);
        width: 100%;
        height: 100px;
        border: 1px solid rgb(219, 214, 214);
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
    }
    .range h6,.range small{
        font-size: 12px;
        margin-left: 5px!important;
    }
    .range input{
        width: 70%;
        height: 5px;
        margin-top:10px;
        margin-left: 5px!important;
    }
    .small-pic img{
        width: 60px!important;
        height: 80px;
        margin-bottom: 15px;
    }
    
}

@media only screen and (min-width: 576px) and (max-width:767px){
    .cat-info{
        padding:10px;
        background-color:rgba(236, 229, 229, 0.685);
        margin:auto;
    }
    
    .cat-info img{
        width: 50px;
        height: 50px;
    }
    .category{
        margin-top: 0px;
    }
}

/* products */

.plus-minus button{
    font-weight: 600;
    outline:none!important;
    border: none;
    border-radius:2px;
    font-weight: 600px;
    color:white;
    height: 44px;
    border-right: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    width: 25%!important;
    background-color: rgb(2, 2, 2);
}

.plus-minus p{
    height: 44px;
    color:white;
    margin: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgb(2, 2, 2);
    width: 50%;
    padding:10px 15px 10px 15px;
    font-size:10px;
}

.products{
    background-image: url(../images/Group35.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.products .product{
    margin-top: 40px;
    box-shadow: 0px 15px 45px rgba(171, 171, 171, 0.25);
    border-radius: 5px;
}

.products img{
    padding-top:40px;
    padding-bottom:25px;
    width:80%;
    margin-left:10%;
    height:150px;
}

.products h6{
    overflow:hidden;
    margin:0;
    height: 35px;
}

.product-info{
    margin-bottom: 20px;
}

.products button{
    width: 100%;
}

/* blog-info */

.blog-info{
    margin-top: 40px;
    box-shadow: 0px 15px 45px rgba(171, 171, 171, 0.25);
    border-radius: 5px;
}

.blog-info img{
    width: 100%;
    height: 220px;
}

.blog-info h6{
    margin-bottom:0px;
    overflow: hidden;
    margin-top: 0px;
    height: 35px;
}

.blog-details{
    padding:15px;
}

.blog-details p{
    color:rgba(0, 0, 0, 0.59);
    height: 70px;
    overflow: hidden;
}
/* shadow btn */
.red-sh .red-btn{
    box-shadow: 0px 20px 35px rgba(255, 64, 64, 0.25);
}

/* footer */

.footer{
    background-color:#FFF9EA;
}

.link a{
    color:rgba(0, 0, 0, 0.583);
    display: block;
    text-decoration: none;
}

.footer img{
    margin-top: 3px;
    width: 20px;
    height:20px;
}

.location {
    margin-top:20px;
}

/* fix */
.fix{
    top:30%;
    right:0;
    position: fixed;
}




/* products */
.menu p{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.671);
    margin-left: 20%;
}
.sideMenu .menu{
    height: 50px;
    box-shadow: 0px 15px 45px rgba(171, 171, 171, 0.25);
    cursor: pointer;
    font-size:14px;
    border-bottom:1px solid rgba(0, 0, 0, 0.144);
}
.sideMenu img{
    width:12px;
    height:12px;
}
.range{
    box-shadow: 0px 15px 45px rgba(171, 171, 171, 0.25);
    width: 100%;
    height: 100px;
    border: 1px solid rgb(219, 214, 214);
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}
.range h6,.range small{
    margin:0;
    margin-left: 30px;
}
.range input
{
    width: 70%;
    height: 3px;
    margin-top:10px;
    margin-left: 30px;
}



/* cart */
.cart-items h4{
    padding-top:10px;
}
.cart-items{
    margin:auto;
    width: 100%;
    background-color:#F2F2F2;
}
.single{
    height: 20px;
    width: 80px;
    border-radius: 25px;
    background-color:#FFC729;
}

.cartPlus{
    border-radius: 100%;
    height: 20px;
    width: 20px;
    background-color:rgba(128, 128, 128, 0.301);
    cursor: pointer;
}

.cartMinus{ 
    text-align: center;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    background-color:rgba(128, 128, 128, 0.301);
    cursor: pointer;
}

.items{
    margin-left: 10px;
    margin-right: 10px;
}
/* blog */
.blog-review img{
    width: 100%;
    margin-bottom: 40px;
}
.blog-review p{
    color:rgba(0, 0, 0, 0.568);
    font-size:13px;
}
.blog-review a{
    color: black;
    text-decoration: none;
}

/* single-blog */
.single-blog img{
    margin-bottom: 15px;
    width: 100%;
}
.single-blog p{
    margin-top: 10px;
}

/* single product */
.single-product img{
    width: 100%;
}

.small-pic{
    margin-top:20px;
}
.small-pic img{
    width: 80px;
    height: 80px;
}
/* login */
.login{
    margin: auto;
    width: 100%;
    background-color:#F2F2F2;
}
.login h3{
    padding-top:10px;
}
.login input{
    background-color:#CFCFCF;
}
.login input::placeholder{
    text-align: center;
}
.reg a{
    color:rgba(0, 0, 0, 0.685);
    cursor: pointer;
}
.reg {
    font-size:12px;
    color:rgba(0, 0, 0, 0.685);
}

/* registration */
.registration{
    margin: auto;
    width: 100%;
    background-color:#F2F2F2;
}
.registration h3{
    padding-top:10px;
}
.registration input{
    background-color:#CFCFCF;
    margin-bottom: 15px;;
}
.registration input::placeholder{
    text-align: center;
}
.registration p{
    color:rgba(0, 0, 0, 0.685);
}
.registration button{
    margin-top:10px;
    margin-bottom:40px;
}

/* modal */
.login{
    border-radius: 5px;
}
.registration{
    border-radius:5px;
}
.cart-items{
    border-radius: 5px;
}